@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    width: 1900px;
    margin: 0 auto;
}

#header1 {
    width: 100%;
    height: 34px;
    padding: 5px;
    background-color: rgb(34, 76, 192);
}

#lang {
    width: 1600px;
    height: 24px;
    text-align: center;
    font-size: 14px;
    padding-left: 400px;
    font-weight: 500;
    float: left;
}

li {
    list-style-type: none;
    float: left;
    padding-left: 20px;
}

#search1 {
    width: 285px;
    height: 24px;
    font-weight: 600;
    float: left;
}
main {
    width: 100%;
    height: 780px;
}

#logo {
    width: 500px;
    height: 100px;
    float: left;
    padding-left: 420px;
    padding-top: 20px;
}

#menu {
    width: 1085px;
    height: 100px;
    float: left;
    padding-top: 30px;
    padding-left: 300px;
}

.banner {
    font-size: 17px;
    font-weight: 550;
    color: black;
    padding-left: 90px;
}

#centerlogo {
    padding-left: 680px;
}

main {
    background-image: url(../bg_main02.jpg);
}
