@charset "utf-8";

.wrap6 {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-6 {
    opacity: 0;
    background-color: white;
    border-radius: 50%;
    animation: loader-6 1.5s cubic-bezier(0.41, 0.25, 0.32, 0.83) infinite;
}

@keyframes loader-6 {
    from {
        width: 10px;
        height: 10px;
        opacity: 0.2;
    }

    80% {
        width: 30px;
        height: 30px;
        opacity: 1;
    }

    90% {
        opacity: 0;
    }
}
