@charset "utf-8";

.box1 {
    border: 1px solid rgb(204, 204, 204);
    width: 500px;
    height: 350px;
}

.b {
    line-height: 20px;
}

.a {
    font-size: 20px;
    color: rgb(155, 40, 40);
    font-weight: 800;
}
